apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockout-api
  labels:
    app: stockout-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: stockout-api
  template:
    metadata:
      labels:
        app: stockout-api
    spec:
      containers:
        - name: stockout-api
          image: ram0716/stockout-api:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10