name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ./stockout-serving
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/stockout-api:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/stockout-api:${{ github.sha }}
